#notifications
{
    display: flex;
    flex-direction: column;
}

#noty-box
{
    border: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 15px;
    /* background-color: antiquewhite; */
}