.upload-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff00;
}

.upload-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(61, 116, 199);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: rgb(51, 96, 169);
}
